.container{
	width : 50%;
	background: #f99;
	display:flex;
	flex-direction : column;
	justify-content : center;
	align-items : center;
	border-radius : 10px;
}
.image{
	padding-top: 30px;
	border-radius : 10px;
}
img{
	border-radius : 10px;
}
h1{
	font-size : 29px;
	font-weight : bold;
}
.pricing-card{
	text-align : center;
}
.pricing-card .para{
	margin: 0px auto;
	width: 50%;
}
.button{
	padding: 20px
}
button{
	background: tomato;
	padding:10px 20px;
	border-radius : 10px;
	border : none;
}
.button:hover{
	cursor: pointer;
}